 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B7A1A8;
active-foreground: #FBFAFB;
normal-background: #262325;
normal-foreground: #FBFAFB;
urgent-background: #B7A1A8;
urgent-foreground: #FBFAFB;

alternate-active-background: #806B6B;
alternate-active-foreground: #FBFAFB;
alternate-normal-background: #262325;
alternate-normal-foreground: #FBFAFB;
alternate-urgent-background: #262325;
alternate-urgent-foreground: #FBFAFB;

selected-active-background: #B7A1A8;
selected-active-foreground: #FBFAFB;
selected-normal-background: #B7A1A8;
selected-normal-foreground: #FBFAFB;
selected-urgent-background: #B7A1A8;
selected-urgent-foreground: #FBFAFB;

background-color: #262325;
background: rgba(0,0,0,0.7);
foreground: #FBFAFB;
border-color: #B7A1A8;

color0: #4C484B;
color1: #4E474A;
color2: #4E474A;
color3: #605051;
color4: #89797E;
color5: #89797E;
color6: #B7B5B6;
color7: #F1F0F1;
color8: #A9A8A8;
color9: #685F63;
color10: #685F63;
color11: #806B6B;
color12: #B7A1A8;
color13: #B7A1A8;
color14: #F4F1F3;
color15: #F1F0F1;


}

