 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #CB698F;
active-foreground: #FDF2EA;
normal-background: #1C1A23;
normal-foreground: #FDF2EA;
urgent-background: #4699B1;
urgent-foreground: #FDF2EA;

alternate-active-background: #C0648A;
alternate-active-foreground: #FDF2EA;
alternate-normal-background: #1C1A23;
alternate-normal-foreground: #FDF2EA;
alternate-urgent-background: #1C1A23;
alternate-urgent-foreground: #FDF2EA;

selected-active-background: #4699B1;
selected-active-foreground: #FDF2EA;
selected-normal-background: #4699B1;
selected-normal-foreground: #FDF2EA;
selected-urgent-background: #CB698F;
selected-urgent-foreground: #FDF2EA;

background-color: #1C1A23;
background: rgba(0,0,0,0.7);
foreground: #FDF2EA;
border-color: #CB698F;

color0: #43404A;
color1: #1A1336;
color2: #552F4F;
color3: #904B68;
color4: #984F6B;
color5: #357385;
color6: #BBA393;
color7: #F4E4D9;
color8: #AB9F98;
color9: #221948;
color10: #713F69;
color11: #C0648A;
color12: #CB698F;
color13: #4699B1;
color14: #FAD9C4;
color15: #F4E4D9;


}

