 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #624D06;
active-foreground: #C1D2B0;
normal-background: #000300;
normal-foreground: #C1D2B0;
urgent-background: #537116;
urgent-foreground: #C1D2B0;

alternate-active-background: #971759;
alternate-active-foreground: #C1D2B0;
alternate-normal-background: #000300;
alternate-normal-foreground: #C1D2B0;
alternate-urgent-background: #000300;
alternate-urgent-foreground: #C1D2B0;

selected-active-background: #537116;
selected-active-foreground: #C1D2B0;
selected-normal-background: #537116;
selected-normal-foreground: #C1D2B0;
selected-urgent-background: #624D06;
selected-urgent-foreground: #C1D2B0;

background-color: #000300;
background: rgba(0,0,0,0.7);
foreground: #C1D2B0;
border-color: #624D06;

color0: #000300;
color1: #52130E;
color2: #4A3804;
color3: #711143;
color4: #493A05;
color5: #3E5511;
color6: #3A5E15;
color7: #9EB685;
color8: #6F7F5D;
color9: #6E1913;
color10: #634A05;
color11: #971759;
color12: #624D06;
color13: #537116;
color14: #4E7E1C;
color15: #9EB685;


}

