 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #736C7E;
active-foreground: #F0ECF2;
normal-background: #000005;
normal-foreground: #F0ECF2;
urgent-background: #736C7E;
urgent-foreground: #F0ECF2;

alternate-active-background: #6F687A;
alternate-active-foreground: #F0ECF2;
alternate-normal-background: #000005;
alternate-normal-foreground: #F0ECF2;
alternate-urgent-background: #000005;
alternate-urgent-foreground: #F0ECF2;

selected-active-background: #736C7E;
selected-active-foreground: #F0ECF2;
selected-normal-background: #736C7E;
selected-normal-foreground: #F0ECF2;
selected-urgent-background: #736C7E;
selected-urgent-foreground: #F0ECF2;

background-color: #000005;
background: rgba(0,0,0,0.7);
foreground: #F0ECF2;
border-color: #736C7E;

color0: #000005;
color1: #252631;
color2: #282834;
color3: #534E5C;
color4: #56515E;
color5: #56515E;
color6: #A098A4;
color7: #E2DCE4;
color8: #9E9AA0;
color9: #313241;
color10: #353645;
color11: #6F687A;
color12: #736C7E;
color13: #736C7E;
color14: #D5CADA;
color15: #E2DCE4;


}

